#product { height:64px; width: 100%; background: black !important; }

#product_logo {
  
  margin: auto; padding: 0; max-width: 960px; height:100%; 
  background: black url(../explorer/images/moonrise.png) no-repeat 50% 100%;
  background-size: auto 200%;
  box-shadow:0 0 20px black inset;
  position:relative; -webkit-transition: background 5s linear;
}

#main { max-width: 960px; margin: auto !important; }

#content li { margin-left: 1.2em; }

h1 { font-size: 200%; }
h2 { font-size: 150%; }

h1, h2 {
  font-weight: normal;
  margin:0.5em 0; padding: 0;
}
h3 {
  color: #999;
  text-transform: uppercase;
}
h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: bold;
  margin:1em 0 0 0; padding: 0;
}

dt strong {
  font-size: 125%; font-family: monospace; font-weight: normal;
  line-height: 200%;
}

code {
  background: rgb(245, 245, 245);
  border-radius: 3px;
  padding: 1px 3px;
  border: 1px solid #ddd;
}

h1 code {
  background: inherit;
  border-radius: inherit;
  padding: inherit;
  border: inherit;
}

body {
    margin: 0; padding:0;
    font-family: "droid sans", arial, helvetica, geneva, sans-serif;
    color: #333;
    line-height: 150%;
    font-size: 14px;
}
ul, ol { margin: 0; padding: 0; }

code, tt { font-family: monospace; }
span.parameter { font-family:monospace; }
span.parameter:after { content:":"; }
span.types:before { content:"("; }
span.types:after { content:")"; }
.type { font-weight: bold; font-style:italic }

p { margin: 10px 0 0 0px;}

strong { font-weight: bold;}

em { font-style: italic;}

a:link { color: #369; text-decoration: none; }
a:visited { color: #369; text-decoration: none; }
a:link:hover { text-decoration: underline; }
a[href^="http"] { color: #963; }

hr {
    color:#cccccc;
    background: #00007f;
    height: 1px;
}

blockquote { margin-left: 3em; }

ul { list-style-type: disc; }

p.name {
    font-family: "Andale Mono", monospace;
    padding-top: 1em;
}

pre {
    background-color: rgb(245, 245, 245);
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0 10px 0;
    overflow: auto;
    font-family: "Andale Mono", monospace;
    border-radius: 3px;
}


table.index { border: 1px #00007f; }
table.index td { text-align: left; vertical-align: top; }

#container {
    margin: 0; padding: 0;
    background-color: #ddd;
}

#product {
    text-align: center;
}

#product big {
    font-size: 2em;
}

#main {
}

#navigation {
    float: left;
    width: 18em;
    vertical-align: top;
    overflow: visible;
    margin-top: 1em;
}

#navigation br {
  display: none;
}

#navigation h2 {
}

#navigation ul
{
    font-size:1em;
    list-style-type: none;
    margin: 1px 1px 10px 1px;
}

#navigation li {
    text-indent: -1em;
    display: block;
    margin: 3px 0px 0px 22px;
}

#navigation li li a {
    margin: 0px 3px 0px -1em;
}

#content {
    margin-left: 18em;
    margin-top: 2em;
    padding: 1em;
    width: 700px;
    background-color: #eee;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border-radius: 3px;
    position: relative;
    z-index: 1;
}

#about {
    clear: both;
    padding: 40px;
    text-align: center;
}

@media print {
    body {
        font: 12pt "Times New Roman", "TimeNR", Times, serif;
    }
    a { font-weight: bold; color: #004080; text-decoration: underline; }

    #main {
        background-color: #ffffff;
        border-left: 0px;
    }

    #container {
        margin-left: 2%;
        margin-right: 2%;
        background-color: #ffffff;
    }

    #content {
        padding: 1em;
        background-color: #ffffff;
    }

    #navigation {
        display: none;
    }
    pre.example {
        font-family: "Andale Mono", monospace;
        page-break-inside: avoid;
    }
}

table.module_list {
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    border-collapse: collapse;
}
table.module_list td {
    border-width: 1px;
    padding: 3px;
    border-style: solid;
    border-color: #cccccc;
}
table.module_list td.name { min-width: 200px; }
table.module_list td.summary { width: 100%; }


table.function_list {
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    border-collapse: collapse;
}
table.function_list td {
    border-width: 1px;
    padding: 3px;
    border-style: solid;
    border-color: #cccccc;
}
table.function_list td.name { min-width: 200px; }
table.function_list td.summary { width: 100%; }

dl.table dt, dl.function dt {border-top: 1px solid #ccc; padding-top: 1em;}
dl.table dd, dl.function dd {padding-bottom: 1em; margin: 0;}
dl.table h3, dl.function h3 { }

/* stop sublists from having initial vertical space */
ul ul { margin-top: 0px; }
ol ul { margin-top: 0px; }
ol ol { margin-top: 0px; }
ul ol { margin-top: 0px; }

/* styles for prettification of source */
pre .comment { color: #558817; }
pre .constant { color: #a8660d; }
pre .escape { color: #844631; }
pre .keyword { color: #2239a8; font-weight: bold; }
pre .library { color: #0e7c6b; }
pre .marker { color: #512b1e; background: #fedc56; font-weight: bold; }
pre .string { color: #a8660d; }
pre .number { color: #f8660d; }
pre .operator { color: #2239a8; font-weight: bold; }
pre .preprocessor, pre .prepro { color: #a33243; }
pre .global { color: #800080; }
pre .prompt { color: #558817; }
pre .url { color: #272fc2; text-decoration: underline; }
